<div class="row">
    <div class="large-12 columns">
        <div class="nav-bar right">
            <ul class="button-group">
                <li><a href="/" class="button">Home</a></li>
                <li><a href="about" class="button">About</a></li>
                <li><a href="contact" class="button">Contact</a></li>
            </ul>
        </div>
        <h1>WhatThePho</h1>
        <hr/>
    </div>
</div>

<!-- <div>
    <div class="top-bar" id="realEstateMenu">
        <div class="top-bar-left">
            <ul class="menu" data-responsive-menu="accordion">
                <li class="name">
                    <a href="/">WhatThePho?</a>
                </li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="#">My Account</a></li>
                <li><a class="button">Login</a></li>
            </ul>
        </div>
    </div>
</div> -->

<!-- <div class="contain-to-grid">
    <nav class="top-bar">
        <ul class="title-area">
        </ul>

        <section class="top-bar-section">
            <ul class="left">
            </ul>
            <ul class="right">
            </ul>
        </section>
     </nav>
</div> -->
