<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">
    <link rel='stylesheet' href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
    <script src="js/jquery.js"></script>
    <script src="js/what-input.js"></script>
    <script src="js/foundation.js"></script>
    <script src="js/code.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
    <title>About</title>
</head>

<body>
    {{> navigation}}
    <div class="callout large primary">
        <div class="row column text-center">
            <h1>What We Do</h1>
        </div>
    </div>

    <div class="row" id="content">
        <div class="medium-8 columns">
            <div class="blog-post">
                <p>There are many, many people in this world. And they are people who float the idea of having ‘I don’t know’ for dinner each evening. It’s a truly popular request, perhaps the most vocalized of all dishes.
                    <br/>
                    <br/> What do you want to eat? I don’t know.
                    <br/> Where do you want to go? I don’t know.
                    <br/> What are you in the mood for? I. Don’t. Know.
                    <br/> What should we get? I dunno.
                    <br/>
                    <br/> They can’t get enough. And in the end, they aren’t even getting anything. Someone, someday, will solve that problem, and it will be a great day. But today is not that day. Not today. Not us.
                    <br/>
                    <br/> Our app is a reward, a badge of honor, for the decisive! You, yes you, have selected Pho. You have bypassed the awkward, “I don’t know, what do you want? I don’t care, what’re you in the mood for?” shuffle, and you deserve to be rewarded for your ability to choose and commit. Be proud! This app is made for you.
                    <br/>
                    <br/> What the Pho? is intended to enhance your Pho experience and help you cultivate a deeper understanding of how many different ways you can enjoy your Pho. What the Pho? will help you find the Pho you crave—nay, deserve.
                    <br/>
                    <br/> It will allow you to benefit from internal Pho knowledge, critiques, and recommendations from likeminded Pho deciders. It will give metrics of flavor, price, noodle ratios, atmosphere, and even frequency of water and sauce availability, and your contributions will preserve Pho knowledge and practices for future Pho-rends. (Friends? Too much? Eh.)
                    <br/>
                </p>
            </div>
        </div>
        <div class="medium-3 columns" data-sticky-container>
            <div class="sticky" data-sticky data-anchor="content">
                <h4>Team Members</h4>
                <ul>
                    <li><a href="#">Andy Tsao</a></li>
                    <li><a href="#">Kevin Chen</a></li>
                    <li><a href="#">Eden Lin</a></li>
                    <li><a href="#">Dodd Liang</a></li>
                    <li><a href="#">Andrea Gannon</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
