<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">
    <link rel='stylesheet' href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
    <script src="js/jquery.js"></script>
    <script src="js/what-input.js"></script>
    <script src="js/foundation.js"></script>
    <script src="js/code.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
    <title>WhatThePho</title>
</head>

<body>
    {{> navigation}}
    <div class="row">
        <div class="large-12 columns">
            <div class="row">
                <div class="large-6 columns">
                    <img src="img/PhoLogo.jpg">
                    <br>
                </div>
                <div class="large-6 columns">
                    <h3 class="show-for-small">Welcome!<hr/></h3>
                    <div class="panel">
                        <h4 class="hide-for-small">Welcome!<hr/></h4>
                        <h5 class="subheader">Have you ever had the best Pho of your life? Are you a Pho enthusiast? This is the site for you. Use our search to find the closest, best Pho bowls near you!</h5>
                    </div>
                    <div class="row">
                        <div class="large-6 small-6 columns">
                            <div class="panel">
                                <h5>About</h5>
                                <h6 class="subheader">Learn more about WhatThePho and the team's mission.</h6>
                                <a href="about" class="small button">WhatThePho?</a>
                            </div>
                        </div>
                        <div class="large-6 small-6 columns">
                            <div class="panel">
                                <h5>Contact Us</h5>
                                <h6 class="subheader">Let us know your thoughts! Get Pho with us!</h6>
                                <a href="contact" class="small button">Contact!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <div class="radius panel">
                        <form>
                            <div class="row collapse">
                                <div class="large-10 small-8 columns">
                                    <input type="text" id="phoLocation" placeholder="Pho-ind it by location, restaurant, or pho" />
                                </div>
                                <div class="large-2 small-3 columns">
                                    <a href="#" class="postfix button expand" onclick="clicked()">Search</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 show-for-small columns">
                    <h3>Header</h3>
                    <hr>
                </div>
                <div class="large-3 small-6 columns">
                    <img src="img/homePagePho1.jpg" style="width:220px;height:200px;">
                    <div class="panel">
                        <p>Delicious!</p>
                    </div>
                </div>
                <div class="large-3 small-6 columns">
                    <img src="img/homePagePho2.jpg" style="width:220px;height:200px;">
                    <div class="panel">
                        <p>Tasty
                            <3</p>
                    </div>
                </div>
                <div class="large-3 small-6 columns">
                    <img src="img/homePagePho3.jpg" style="width:220px;height:200px;">
                    <div class="panel">
                        <p>~Scrumptious~</p>
                    </div>
                </div>
                <div class="large-3 small-6 columns">
                    <img src="img/homePagePho4.jpg" style="width:220px;height:200px;">
                    <div class="panel">
                        <p>*Equisite*</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
